Переведите на свой язык следующие слова:
<p><form action="/write">
  <table>
    <tr><td>я </td><td><input type="text" name="i"></td></tr>
    <tr><td>ты </td><td><input type="text" name="you"></td></tr>
    <tr><td>он </td><td><input type="text" name="he"></td></tr>
    <tr><td>мы </td><td><input type="text" name="we"></td></tr>
    <tr><td>вы </td><td><input type="text" name="youpl"></td></tr>
    <tr><td>они</td><td><input type="text" name="they"></td></tr>
    <tr><td>этот </td><td><input type="text" name="this"></td></tr>
    <tr><td>тот </td><td><input type="text" name="that"></td></tr>
    <tr><td>здесь </td><td><input type="text" name="here"></td></tr>
    <tr><td>там </td><td><input type="text" name="there"></td></tr>
  </table></p>
Введите информацию о себе:
    <p>Язык: <input type="text" name="lang"><Br>
    <p>Пол: <input type="radio" name="sex" value="male">Мужской <input type="radio" name="sex" value="female">Женский<Br>
    <p>Возраст: <input type="radio" name="year" value="0-45">0-45 <input type="radio" name="year" value="46-55">46-55
<input type="radio" name="year" value="56-65">56-65<input type="radio" name="year" value="76-85">76-85<Br>
      <p><input type="submit" value="Отправить"></p>
</form>
